.finance-graph {
  font: 10px sans-serif;
    .grid path,
    .grid line {
      fill: none;
      stroke: rgba(0,0,0,.2);
      shape-rendering: crispEdges;
    }
    
    .inner path,
    .x path {
      display: none;
    } 
    
    .line {
      fill: none;
      stroke: lightgray;
      stroke-width: 2px;
    }
    
    .point {
      fill: lightgray;
      stroke: lightgray;
      stroke-width: 2px;
    }
    
    text {
      
    }
}