<div class="container">
  <div class="pre-graph">
    <h1>Western Union</h1>
    <hr>
    <div class="btn-group">
      <label ng-repeat="(name, _) in periods" class="btn btn-default btn-sm" ng-class="period == name? 'active' : ''" ng-click="changePeriod(name)">{{ name }}</label>
    </div>
  </div>
  <br>
  <finance-graph data="graphData">
    <div class="btn-group" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        {{ dataType }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="(name, _) in dataTypes"><a ng-click="changeDataType(name)">{{ name }}</a></li>
      </ul>
    </div>
  </graph>
</div>
